KUMA_URL=
KUMA_API_KEY=

PELICAN_URL=
PELICAN_APPLICATION_API_KEY=
PELICAN_CLIENT_API_KEY=

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=
SESSION_SECRET=

POSTGRES_DB=status_ikevvy
POSTGRES_USER=status_ikevvy
POSTGRES_PASSWORD=
DATABASE_URL=postgresql://status_ikevvy:CHANGE_ME@db:5432/status_ikevvy
